.container {
    height: 100%;
    width: 100%;
    margin: 5rem 0;
    padding-top: 5rem;
  }
  
  .wrapper {
    width: 85%;
    max-width: 1200px; /* Limit the maximum width */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .subtitle {
    text-align: center;
    font-size: 1.125rem; /* Responsive font size */
    color: #666;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  
  .title {
    text-align: center;
    margin-bottom: 2.5rem;
    color: #f00;
    font-size: 2.25rem; /* Responsive font size */
    font-weight: bold;
  }
  
  .foods {
    display: flex;
    gap: 4.4375rem; /* Relative unit for spacing between items */
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .food {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    max-width: 400px;
    width: 100%; /* Ensures that cards are responsive */
  }
  
  .food > h4 {
    text-align: center;
    margin: 1.25rem 0; /* Consistent vertical spacing */
    font-weight: bold;
    font-size: 1.625rem;
    text-transform: capitalize;
  }
  
  .imgContainer {
    width: 100%;
    overflow: hidden;
  }
  
  .imgContainer img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .imgContainer:hover img {
    transform: scale(1.05);
  }
  
  /* Media Queries for smaller screens */
  @media (max-width: 768px) {
    .wrapper {
      width: 95%; /* Slightly more width on smaller screens */
    }
  
    .foods {
      gap: 1.5rem; /* Smaller gap on smaller screens */
    }
  
    .title,
    .subtitle {
      margin-bottom: 1.5rem; /* Consistent vertical rhythm */
    }
  
    .food > h4 {
      margin: 1rem 0; /* Reduced spacing on smaller screens */
      font-size: 1.5rem; /* Smaller font size */
    }
  }
  